# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
node_modules/
bak
app-env
.tmp/
server/bak

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
